https://minjejeon.github.io/learningstock/2017/06/05/easy-one-hot-encoding.html

In [32]:
import pandas as pd
from itertools import cycle

#pd.set_option('display.unicode.east_asian_width', True)

train = pd.read_csv("data/titanic/train.csv")

from pandas import DataFrame, Series

Pclass_onehot = pd.get_dummies(train["Pclass"], prefix="Pclass")
Pclass_onehot

# Pclass로 시작하는 변수로 만들어서 자동처리

Embarked_onehot = pd.get_dummies(train["Embarked"], prefix="Embarked")
Embarked_onehot

# Embarked로 시작하는 변수로 만들어서 자동처리

train_with_onehot = pd.concat(
    [DataFrame(train),Pclass_onehot, Embarked_onehot], axis = 1)
train_with_onehot.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1,0,0,1

In [14]:
pd.set_option('display.unicode.east_asian_width', True)

area = '서울 부산 대구 인천 광주 대전 울산 세종 경기 강원 충북 충남 전북 전남 경북 경남 제주'.split()
college = '인문대학 사회과학대학 자연과학대학 간호대학 경영대학 공과대학 미술대학'.split()
gender = '남성 여성'.split()

# 100개의 가짜 데이터 생성, itertools.cycle 함수로 각 요소를 순환시킵니다.

fake_data = zip(range(100), cycle(area), cycle(college), cycle(gender))

# zip은 파이썬 내장함수, 같은 개수의 여러개의 자료형을 서로 묶어주는 역할

hundred_students = DataFrame([data for num, *data in fake_data],
                              columns='지역 단과대 성별'.split())
hundred_students.head(10)

   지역        단과대  성별
0  서울      인문대학  남성
1  부산  사회과학대학  여성
2  대구  자연과학대학  남성
3  인천      간호대학  여성
4  광주      경영대학  남성
5  대전      공과대학  여성
6  울산      미술대학  남성
7  세종      인문대학  여성
8  경기  사회과학대학  남성
9  강원  자연과학대학  여성

In [26]:
college_one_hot_encoded= pd.get_dummies(hundred_students["단과대"])

college_one_hot_encoded

# hundred_students["단과대"]는 hudred_students.단과대
# 로 표현할 수 있음

,간호대학,경영대학,공과대학,미술대학,사회과학대학,인문대학,자연과학대학
0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0
5,0,0,1,0,0,0,0
6,0,0,0,1,0,0,0
7,0,0,0,0,0,1,0
8,0,0,0,0,1,0,0
9,0,0,0,0,0,0,1
10,1,0,0,0,0,0,0
11,0,1,0,0,0,0,0
12,0,0,1,0,0,0,0
13,0,0,0,1,0,0,0
14,0,0,0,0,0,1,0
15,0,0,0,0,1,0,0
16,0,0,0,0,0,0,1
17,1,0,0,0,0,0,0
18,0,1,0,0,0,0,0
19,0,0,1,0,0,0,0
20,0,0,0,1,0,0,0
21,0,0,0,0,0,1,0
22,0,0,0,0,1,0,0
23,0,0,0,0,0,0,1
24,1,0,0,0,0,0,0
25,0,1,0,0,0,0,0
26,0,0,1,0,0,0,0
27,0,0,0,1,0,0,0
28,0,0,0,0,0,1,0
29,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...
70,0,0,0,0,0,1,0
71,0,0,0,0,1,0,0
72,0,0,0,0,0,0,1
73,1,0,0,0,0,0,0
74,0,1,0,0,0,0,0
75,0,0,1,0,0,0,0
76,0,0,0,1,0,0,0
77,0,0,0,0,0,1,0
78,0,0,0,0,1,0,0
79,0,0,0,0,0,0,1
80,1,0,0,0,0,0,0
81,0,1,0,0,0,0,0
82,0,0,1,0,0,0,0
83,0,0,0,1,0,0,0
84,0,0,0,0,0,1,0
85,0,0,0,0,1,0,0
86,0,0,0,0,0,0,1
87,1,0,0,0,0,0,0
88,0,1,0,0,0,0,0
89,0,0,1,0,0,0,0
90,0,0,0,1,0,0,0
91,0,0,0,0,0,1,0
92,0,0,0,0,1,0,0
93,0,0,0,0,0,0,1
94,1,0,0,0,0,0,0
95,0,1,0,0,0,0,0
96,0,0,1,0,0,0,0
97,0,0,0,1,0,0,0
98,0,0,0,0,0,1,0
99,0,0,0,0,1,0,0

In [22]:
college_with_onehot = pd.concat(
    [DataFrame(hundred_students["단과대"]), college_one_hot_encoded], axis = 1)
# hundred_students 뒤의 s를 주의
# axis =1 은 열로 작업할 때 표기, axis = 0은 행을 추가하여 작업할 때.
# pd.concat([df1, df2])는 df1과 df2를 합칠 때 사용

college_with_onehot.head(10)

,단과대,간호대학,경영대학,공과대학,미술대학,사회과학대학,인문대학,자연과학대학
0,인문대학,0,0,0,0,0,1,0
1,사회과학대학,0,0,0,0,1,0,0
2,자연과학대학,0,0,0,0,0,0,1
3,간호대학,1,0,0,0,0,0,0
4,경영대학,0,1,0,0,0,0,0
5,공과대학,0,0,1,0,0,0,0
6,미술대학,0,0,0,1,0,0,0
7,인문대학,0,0,0,0,0,1,0
8,사회과학대학,0,0,0,0,1,0,0
9,자연과학대학,0,0,0,0,0,0,1