# Bike_암기 복습_20180912

In [1]:
print("테스트")

테스트

# 데이터, 패키지 로딩

In [2]:
import pandas as pd
import numpy as np

train = pd.read_csv("data/bike/train.csv", parse_dates = ["datetime"])
test = pd.read_csv("data/bike/test.csv", parse_dates = ["datetime"])

print(train.shape, test.shape)
train.head()

(10886, 12) (6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

# Feature Engineering

In [3]:
print(train.info(), "\n", "\n" , test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.6 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
datetime      6493 non-null datetime64[ns]
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(5)
memory usage: 456.6 KB
None

 None

## (1) NaN 처리

- 없음

## (2) Datetime 처리

In [4]:
train["year"] = train["datetime"].dt.year
train["month"] = train["datetime"].dt.month
train["day"] = train["datetime"].dt.day
train["hour"] = train["datetime"].dt.hour
train["dayofweek"] = train["datetime"].dt.dayofweek

train["minute"] = train["datetime"].dt.minute
train["second"] = train["datetime"].dt.second

In [5]:
train.columns
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,dayofweek,minute,second
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5,0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5,0,0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5,0,0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5,0,0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5,0,0

In [6]:
train[['year', 'month', 'day', 'hour', 'minute', 'second', 'dayofweek']].describe()
# minute, second 정보는 없으므로 drop시킨다.

train.drop(['minute', 'second'], axis = 1, inplace = True)
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

In [7]:
test["year"] = test["datetime"].dt.year
test["month"] = test["datetime"].dt.month
test["day"] = test["datetime"].dt.day
test["hour"] = test["datetime"].dt.hour
test["dayofweek"] = test["datetime"].dt.dayofweek

test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour,dayofweek
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,0,3
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,1,3
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,2,3
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,4,3

# EDA, Visualization

## 시각화 패키지 로딩

In [8]:
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline

# RandomForestRegressor

In [9]:
from sklearn.ensemble import RandomForestRegressor

model_rf = RandomForestRegressor()

model_rf

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

# RMSE

In [10]:
from sklearn.metrics import make_scorer

def rmse(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    distance = predict - actual
    
    square_distance = distance **2
    mean_square_distance = square_distance.mean()
    score = np.sqrt(mean_square_distance)
    
    return score

rmse_score = make_scorer(rmse)
rmse_score

make_scorer(rmse)

# RF - GridSearch

In [11]:
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'year', 'month', 'day', 'hour', 'dayofweek'],
      dtype='object')

# Kaggle Evaluation Metrics에 맞게 변형

In [12]:
train["log_count"] = np.log(train["count"] + 1)

train[["count", "log_count"]].head()

   count  log_count
0     16   2.833213
1     40   3.713572
2     32   3.496508
3     13   2.639057
4      1   0.693147

In [13]:
feature_names = ['season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed',
       'year', 'month', 'day', 'hour', 'dayofweek']

label_name = 'log_count'

X_train = train[feature_names]
X_test = test[feature_names]
y_train = train[label_name]

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

n_estimators = 3
max_depth_list = [10, 20]
max_features_list = [0.3, 0.5, 0.9]

hyperparameters_list = []

for max_depth in max_depth_list:
    for max_features in max_features_list:
        model = RandomForestRegressor(n_estimators=n_estimators,
                                      max_depth=max_depth,
                                      max_features=max_features,
                                      n_jobs=-1,
                                      random_state=37)
        score = cross_val_score(model, X_train, y_train, cv=20, scoring=rmse_score).mean()
        hyperparameters = {
            'score': score,
            'n_estimators': n_estimators,
            'max_depth': max_depth,
            'max_features': max_features,
        }
        hyperparameters_list.append(hyperparameters)
        print(f"n_estimators = {n_estimators}, max_depth = {max_depth:2}, max_features = {max_features:.6f}, Score = {score:.5f}")

hyperparameters_list = pd.DataFrame.from_dict(hyperparameters_list)

hyperparameters_list = hyperparameters_list.sort_values(by="score")

print(hyperparameters_list.shape)

hyperparameters_list.head()

In [14]:
from sklearn.model_selection import cross_val_score

In [15]:
#소요시간 측정
import datetime
now = datetime.datetime.today()
print("start:", now)

# 178초. 2분 58초 (Local)
n_estimators_list = [100]
max_depth_list = [20, 40]
max_features_list = [0.1, 0.3, 0.5, 0.7, 0.9]

#Grid 변수 - Google Colab. 28분소요
#n_estimators_list = [100, 300, 500]
#max_depth_list = [20, 40, 60, 80, 100]
#max_features_list = [0.1, 0.3, 0.5, 0.7, 0.9]

hyperparameters_list = []

for n_estimators in n_estimators_list:
    for max_depth in max_depth_list:
        for max_features in max_features_list:
            model_rf = RandomForestRegressor(n_estimators=n_estimators,
                                         max_depth = max_depth,
                                         max_features = max_features,
                                         n_jobs = -1,
                                         random_state = 79)
            score = cross_val_score(model_rf, X_train, y_train, cv = 10, scoring = rmse_score).mean()
            
            hyperparameters = {
                'score' : score,
                'n_estimators' : n_estimators,
                'max_depth' : max_depth,
                'max_features' : max_features,
            }
            # score 다음에 쉽표로 구분하지 않아서 생기는 문제들
            
            hyperparameters_list.append(hyperparameters)
            
            print(f"n_estimators = {n_estimators}, max_depth = {max_depth:2}, max_features = {max_features:.2f}, Score = {score:.2f}") # 마지막 따옴표 쳐야


now2 = datetime.datetime.today()
print("end:", now2)
gap = now2- now

m = gap.seconds //60
s = gap.seconds %60

print("Gap Time:", m,"분", s, "초")

n_estimators = 100, max_depth = 20, max_features = 0.10, Score = 0.70
n_estimators = 100, max_depth = 20, max_features = 0.30, Score = 0.51
n_estimators = 100, max_depth = 20, max_features = 0.50, Score = 0.40
n_estimators = 100, max_depth = 20, max_features = 0.70, Score = 0.39
n_estimators = 100, max_depth = 20, max_features = 0.90, Score = 0.38
n_estimators = 100, max_depth = 40, max_features = 0.10, Score = 0.69
n_estimators = 100, max_depth = 40, max_features = 0.30, Score = 0.50
n_estimators = 100, max_depth = 40, max_features = 0.50, Score = 0.41
n_estimators = 100, max_depth = 40, max_features = 0.70, Score = 0.39
n_estimators = 100, max_depth = 40, max_features = 0.90, Score = 0.39
start time: 1536805750.1139867
--- 178.52521085739136 second ---
113208

In [166]:
hyperparameters_list

[{'score': 0.38296375490152207,
  'n_estimators': 100,
  'max_depth': 20,
  'max_features': 0.9},
 {'score': 0.6955473574772217,
  'n_estimators': 100,
  'max_depth': 20,
  'max_features': 1}]

In [167]:
hyperparameters_list = pd.DataFrame.from_dict(hyperparameters_list)
hyperparameters_list.head()

   max_depth  max_features  n_estimators     score
0         20           0.9           100  0.382964
1         20           1.0           100  0.695547

In [168]:
hyperparameters_list = hyperparameters_list.sort_values(by = "score")
hyperparameters_list.head()

# 0.34까지 나왔음 (DSSchool)
# 0.38까지 나옴

   max_depth  max_features  n_estimators     score
0         20           0.9           100  0.382964
1         20           1.0           100  0.695547

# Coarse Search + Finer Search

In [175]:
n_estimators = 100
num_epoch = 100

coarse_hyperparameters_list = []

for epoch in range(num_epoch):
    max_depth = np.random.randint(low = 2, high = 100)
    max_features = np.random.uniform(low = 0.1, high = 1.0)
    model = RandomForestRegressor(n_estimators = n_estimators,
                                 max_depth = max_depth,
                                 max_features = max_features,
                                 n_jobs = -1,
                                 random_state = 79)
    score = cross_val_score(model, X_train, y_train, cv = 10, scoring = rmse_score).mean()
    
    hyperparameters = {
        'epoch' : epoch,
        'score' : score,
        'n_estimators' : n_estimators,
        'max_depth' : max_depth,
        'max_features' : max_features,
    }
    
    coarse_hyperparameters_list.append(hyperparameters)
    
    print(f"{epoch:2} n_estimators = {n_estimators}, max_depth = {max_depth:2}, max_features = {max_features:.2f}, Score = {score:.4f}")

#    print(f"max_depth: {max_depth:2}, max_features: {max_features:.2f}")

coarse_hyperparameters_list = pd.DataFrame.from_dict(coarse_hyperparameters_list)
coarse_hyperparameters_list = coarse_hyperparameters_list.sort_values(by = "score")
print(coarse_hyperparameters_list.shape)
coarse_hyperparameters_list.head()
# 0.384695

# 44번 돌렸는데 최고 수치는 
# 40 n_estimators = 100, max_depth = 19, max_features = 0.85, Score = 0.3845

 0 n_estimators = 100, max_depth = 81, max_features = 0.79, Score = 0.3847
 1 n_estimators = 100, max_depth = 36, max_features = 0.93, Score = 0.3849
 2 n_estimators = 100, max_depth = 83, max_features = 0.82, Score = 0.3847
 3 n_estimators = 100, max_depth = 61, max_features = 0.96, Score = 0.3849
 4 n_estimators = 100, max_depth =  6, max_features = 0.85, Score = 0.5644
 5 n_estimators = 100, max_depth = 66, max_features = 0.70, Score = 0.3886
 6 n_estimators = 100, max_depth = 99, max_features = 0.81, Score = 0.3847
 7 n_estimators = 100, max_depth = 62, max_features = 0.51, Score = 0.4058
 8 n_estimators = 100, max_depth = 22, max_features = 0.49, Score = 0.4095
 9 n_estimators = 100, max_depth = 41, max_features = 0.24, Score = 0.5038
10 n_estimators = 100, max_depth = 70, max_features = 0.84, Score = 0.3847
11 n_estimators = 100, max_depth = 78, max_features = 0.56, Score = 0.3959
12 n_estimators = 100, max_depth = 83, max_features = 0.49, Score = 0.4058
13 n_estimators = 100, max_depth = 67, max_features = 0.14, Score = 0.6915
14 n_estimators = 100, max_depth = 59, max_features = 0.19, Score = 0.5900
15 n_estimators = 100, max_depth = 13, max_features = 0.88, Score = 0.3853
16 n_estimators = 100, max_depth = 91, max_features = 0.89, Score = 0.3853
17 n_estimators = 100, max_depth = 84, max_features = 0.98, Score = 0.3849
18 n_estimators = 100, max_depth = 76, max_features = 0.89, Score = 0.3853
19 n_estimators = 100, max_depth = 37, max_features = 0.66, Score = 0.3889
20 n_estimators = 100, max_depth = 14, max_features = 0.39, Score = 0.4317
21 n_estimators = 100, max_depth = 36, max_features = 0.55, Score = 0.3959
22 n_estimators = 100, max_depth = 10, max_features = 0.43, Score = 0.4790
23 n_estimators = 100, max_depth = 62, max_features = 0.51, Score = 0.4058
24 n_estimators = 100, max_depth = 69, max_features = 0.62, Score = 0.3889
25 n_estimators = 100, max_depth = 33, max_features = 0.93, Score = 0.3850
26 n_estimators = 100, max_depth = 88, max_features = 0.41, Score = 0.4246
27 n_estimators = 100, max_depth = 25, max_features = 0.24, Score = 0.5022
28 n_estimators = 100, max_depth = 69, max_features = 0.36, Score = 0.4614
29 n_estimators = 100, max_depth = 90, max_features = 0.87, Score = 0.3853
30 n_estimators = 100, max_depth = 81, max_features = 0.11, Score = 0.6915
31 n_estimators = 100, max_depth = 92, max_features = 0.76, Score = 0.3886
32 n_estimators = 100, max_depth = 67, max_features = 0.22, Score = 0.5900
33 n_estimators = 100, max_depth = 99, max_features = 0.79, Score = 0.3847
34 n_estimators = 100, max_depth = 76, max_features = 0.40, Score = 0.4246
35 n_estimators = 100, max_depth = 92, max_features = 0.36, Score = 0.4614
36 n_estimators = 100, max_depth = 60, max_features = 0.83, Score = 0.3847
37 n_estimators = 100, max_depth = 68, max_features = 0.22, Score = 0.5900
38 n_estimators = 100, max_depth = 84, max_features = 0.76, Score = 0.3886
39 n_estimators = 100, max_depth = 82, max_features = 0.57, Score = 0.3959
40 n_estimators = 100, max_depth = 19, max_features = 0.85, Score = 0.3845
41 n_estimators = 100, max_depth = 59, max_features = 0.74, Score = 0.3886
42 n_estimators = 100, max_depth = 35, max_features = 0.56, Score = 0.3959
43 n_estimators = 100, max_depth = 26, max_features = 0.25, Score = 0.5039
44 n_estimators = 100, max_depth = 75, max_features = 0.41, Score = 0.4246
45 n_estimators = 100, max_depth = 78, max_features = 0.87, Score = 0.3853
46 n_estimators = 100, max_depth = 63, max_features = 0.69, Score = 0.3886
47 n_estimators = 100, max_depth = 28, max_features = 0.54, Score = 0.3949
48 n_estimators = 100, max_depth = 79, max_features = 1.00, Score = 0.3849
49 n_estimators = 100, max_depth = 60, max_features = 0.58, Score = 0.3959
50 n_estimators = 100, max_depth = 92, max_features = 0.68, Score = 0.3889
51 n_estimators = 100, max_depth = 70, max_features = 0.67, Score = 0.3889
52 n_estimators = 100, max_depth = 76, max_features = 0.11, Score = 0.6915
53 n_estimators = 100, max_depth = 90, max_features = 0.38, Score = 0.4614
54 n_estimators = 100, max_depth = 73, max_features = 0.35, Score = 0.4614
55 n_estimators = 100, max_depth = 20, max_features = 0.40, Score = 0.4258
56 n_estimators = 100, max_depth = 93, max_features = 0.63, Score = 0.3889
57 n_estimators = 100, max_depth = 45, max_features = 0.79, Score = 0.3847
58 n_estimators = 100, max_depth = 45, max_features = 0.84, Score = 0.3847
59 n_estimators = 100, max_depth = 46, max_features = 0.26, Score = 0.5038
60 n_estimators = 100, max_depth = 50, max_features = 0.53, Score = 0.4058
61 n_estimators = 100, max_depth = 79, max_features = 0.17, Score = 0.5900
62 n_estimators = 100, max_depth = 74, max_features = 0.16, Score = 0.5900
63 n_estimators = 100, max_depth = 67, max_features = 0.66, Score = 0.3889
64 n_estimators = 100, max_depth = 75, max_features = 0.87, Score = 0.3853
65 n_estimators = 100, max_depth = 45, max_features = 0.61, Score = 0.3959
66 n_estimators = 100, max_depth = 24, max_features = 0.90, Score = 0.3836
67 n_estimators = 100, max_depth = 25, max_features = 0.63, Score = 0.3849
68 n_estimators = 100, max_depth =  8, max_features = 0.22, Score = 0.7308
69 n_estimators = 100, max_depth = 53, max_features = 0.21, Score = 0.5900
70 n_estimators = 100, max_depth = 19, max_features = 0.41, Score = 0.4270
71 n_estimators = 100, max_depth = 81, max_features = 0.34, Score = 0.4614
72 n_estimators = 100, max_depth =  8, max_features = 0.74, Score = 0.4757
73 n_estimators = 100, max_depth = 87, max_features = 0.41, Score = 0.4246
74 n_estimators = 100, max_depth = 25, max_features = 0.89, Score = 0.3824
75 n_estimators = 100, max_depth = 40, max_features = 0.66, Score = 0.3889
76 n_estimators = 100, max_depth = 25, max_features = 0.58, Score = 0.3929
77 n_estimators = 100, max_depth = 18, max_features = 0.99, Score = 0.3859
78 n_estimators = 100, max_depth = 54, max_features = 0.47, Score = 0.4058
79 n_estimators = 100, max_depth = 10, max_features = 0.61, Score = 0.4405
80 n_estimators = 100, max_depth = 35, max_features = 0.39, Score = 0.4246
81 n_estimators = 100, max_depth = 49, max_features = 0.80, Score = 0.3847
82 n_estimators = 100, max_depth = 11, max_features = 0.21, Score = 0.6441
83 n_estimators = 100, max_depth = 79, max_features = 0.84, Score = 0.3847
84 n_estimators = 100, max_depth = 68, max_features = 0.61, Score = 0.3959
85 n_estimators = 100, max_depth = 45, max_features = 0.78, Score = 0.3847
86 n_estimators = 100, max_depth = 92, max_features = 0.14, Score = 0.6915
87 n_estimators = 100, max_depth = 41, max_features = 0.73, Score = 0.3886
88 n_estimators = 100, max_depth = 39, max_features = 0.55, Score = 0.3959
89 n_estimators = 100, max_depth = 12, max_features = 0.11, Score = 0.7339
90 n_estimators = 100, max_depth = 84, max_features = 0.57, Score = 0.3959
91 n_estimators = 100, max_depth = 76, max_features = 0.82, Score = 0.3847
92 n_estimators = 100, max_depth = 38, max_features = 0.86, Score = 0.3853
93 n_estimators = 100, max_depth = 12, max_features = 0.53, Score = 0.4232
94 n_estimators = 100, max_depth = 77, max_features = 0.86, Score = 0.3853
95 n_estimators = 100, max_depth = 51, max_features = 0.60, Score = 0.3959
96 n_estimators = 100, max_depth =  8, max_features = 0.87, Score = 0.4752
97 n_estimators = 100, max_depth = 35, max_features = 0.83, Score = 0.3847
98 n_estimators = 100, max_depth = 65, max_features = 0.60, Score = 0.3959
99 n_estimators = 100, max_depth = 31, max_features = 0.60, Score = 0.3959
(100, 5)

    epoch  max_depth  max_features  n_estimators     score
74     74         25      0.887101           100  0.382423
66     66         24      0.901121           100  0.383554
40     40         19      0.847148           100  0.384504
97     97         35      0.829557           100  0.384655
33     33         99      0.788319           100  0.384695

(10, 5)

   epoch  max_depth  max_features  n_estimators     score
2      2         71      0.784852           100  0.384695
9      9         75      0.845158           100  0.384695
4      4         64      0.501282           100  0.405799
6      6         10      0.763733           100  0.419860
0      0         12      0.530929           100  0.423197

# Finer Search

In [176]:
n_estimators = 100
num_epoch = 100

coarse_hyperparameters_list = []

for epoch in range(num_epoch):
    max_depth = np.random.randint(low = 19, high = 25)
    max_features = np.random.uniform(low = 0.84, high = 0.91)
    model = RandomForestRegressor(n_estimators = n_estimators,
                                 max_depth = max_depth,
                                 max_features = max_features,
                                 n_jobs = -1,
                                 random_state = 79)
    score = cross_val_score(model, X_train, y_train, cv = 10, scoring = rmse_score).mean()
    
    hyperparameters = {
        'epoch' : epoch,
        'score' : score,
        'n_estimators' : n_estimators,
        'max_depth' : max_depth,
        'max_features' : max_features,
    }
    
    coarse_hyperparameters_list.append(hyperparameters)
    
    print(f"{epoch:2} n_estimators = {n_estimators}, max_depth = {max_depth:2}, max_features = {max_features:.6f}, Score = {score:.5f}")

#    print(f"max_depth: {max_depth:2}, max_features: {max_features:.2f}")

coarse_hyperparameters_list = pd.DataFrame.from_dict(coarse_hyperparameters_list)
coarse_hyperparameters_list = coarse_hyperparameters_list.sort_values(by = "score")
print(coarse_hyperparameters_list.shape)
coarse_hyperparameters_list.head()

 0 n_estimators = 100, max_depth = 21, max_features = 0.902095, Score = 0.38659
 1 n_estimators = 100, max_depth = 19, max_features = 0.903428, Score = 0.38450
 2 n_estimators = 100, max_depth = 23, max_features = 0.847874, Score = 0.38236
 3 n_estimators = 100, max_depth = 20, max_features = 0.895761, Score = 0.38296
 4 n_estimators = 100, max_depth = 19, max_features = 0.887628, Score = 0.38450
 5 n_estimators = 100, max_depth = 21, max_features = 0.907698, Score = 0.38659
 6 n_estimators = 100, max_depth = 22, max_features = 0.860717, Score = 0.38369
 7 n_estimators = 100, max_depth = 23, max_features = 0.874618, Score = 0.38236
 8 n_estimators = 100, max_depth = 22, max_features = 0.864812, Score = 0.38369
 9 n_estimators = 100, max_depth = 22, max_features = 0.889001, Score = 0.38369
10 n_estimators = 100, max_depth = 23, max_features = 0.889757, Score = 0.38236
11 n_estimators = 100, max_depth = 24, max_features = 0.898002, Score = 0.38355
12 n_estimators = 100, max_depth = 23, max_features = 0.844326, Score = 0.38468
13 n_estimators = 100, max_depth = 23, max_features = 0.842696, Score = 0.38468
14 n_estimators = 100, max_depth = 19, max_features = 0.842074, Score = 0.38395
15 n_estimators = 100, max_depth = 20, max_features = 0.907082, Score = 0.38296
16 n_estimators = 100, max_depth = 22, max_features = 0.866429, Score = 0.38369
17 n_estimators = 100, max_depth = 20, max_features = 0.854778, Score = 0.38296
18 n_estimators = 100, max_depth = 20, max_features = 0.878010, Score = 0.38296
19 n_estimators = 100, max_depth = 22, max_features = 0.870598, Score = 0.38369
20 n_estimators = 100, max_depth = 21, max_features = 0.860270, Score = 0.38659
21 n_estimators = 100, max_depth = 19, max_features = 0.907842, Score = 0.38450
22 n_estimators = 100, max_depth = 19, max_features = 0.860939, Score = 0.38450
23 n_estimators = 100, max_depth = 23, max_features = 0.872510, Score = 0.38236
24 n_estimators = 100, max_depth = 22, max_features = 0.863882, Score = 0.38369
25 n_estimators = 100, max_depth = 23, max_features = 0.885454, Score = 0.38236
26 n_estimators = 100, max_depth = 19, max_features = 0.868878, Score = 0.38450
27 n_estimators = 100, max_depth = 19, max_features = 0.868008, Score = 0.38450
28 n_estimators = 100, max_depth = 24, max_features = 0.885217, Score = 0.38355
29 n_estimators = 100, max_depth = 21, max_features = 0.860072, Score = 0.38659
30 n_estimators = 100, max_depth = 19, max_features = 0.863763, Score = 0.38450
31 n_estimators = 100, max_depth = 23, max_features = 0.908665, Score = 0.38236
32 n_estimators = 100, max_depth = 22, max_features = 0.881882, Score = 0.38369
33 n_estimators = 100, max_depth = 19, max_features = 0.884359, Score = 0.38450
34 n_estimators = 100, max_depth = 22, max_features = 0.851916, Score = 0.38369
35 n_estimators = 100, max_depth = 24, max_features = 0.868156, Score = 0.38355
36 n_estimators = 100, max_depth = 20, max_features = 0.892539, Score = 0.38296
37 n_estimators = 100, max_depth = 23, max_features = 0.849972, Score = 0.38236
38 n_estimators = 100, max_depth = 20, max_features = 0.884770, Score = 0.38296
39 n_estimators = 100, max_depth = 22, max_features = 0.865782, Score = 0.38369
40 n_estimators = 100, max_depth = 23, max_features = 0.849717, Score = 0.38236
41 n_estimators = 100, max_depth = 19, max_features = 0.861491, Score = 0.38450
42 n_estimators = 100, max_depth = 22, max_features = 0.864975, Score = 0.38369
43 n_estimators = 100, max_depth = 24, max_features = 0.840814, Score = 0.38228
44 n_estimators = 100, max_depth = 23, max_features = 0.874562, Score = 0.38236
45 n_estimators = 100, max_depth = 22, max_features = 0.900358, Score = 0.38369
46 n_estimators = 100, max_depth = 21, max_features = 0.851062, Score = 0.38659
47 n_estimators = 100, max_depth = 23, max_features = 0.859606, Score = 0.38236
48 n_estimators = 100, max_depth = 21, max_features = 0.896880, Score = 0.38659
49 n_estimators = 100, max_depth = 20, max_features = 0.899877, Score = 0.38296
50 n_estimators = 100, max_depth = 21, max_features = 0.877870, Score = 0.38659
51 n_estimators = 100, max_depth = 24, max_features = 0.872225, Score = 0.38355
52 n_estimators = 100, max_depth = 23, max_features = 0.893804, Score = 0.38236
53 n_estimators = 100, max_depth = 23, max_features = 0.856059, Score = 0.38236
54 n_estimators = 100, max_depth = 21, max_features = 0.890344, Score = 0.38659
55 n_estimators = 100, max_depth = 22, max_features = 0.856591, Score = 0.38369
56 n_estimators = 100, max_depth = 24, max_features = 0.907733, Score = 0.38355
57 n_estimators = 100, max_depth = 21, max_features = 0.868184, Score = 0.38659
58 n_estimators = 100, max_depth = 24, max_features = 0.905041, Score = 0.38355
59 n_estimators = 100, max_depth = 21, max_features = 0.894311, Score = 0.38659
60 n_estimators = 100, max_depth = 22, max_features = 0.870191, Score = 0.38369
61 n_estimators = 100, max_depth = 22, max_features = 0.853955, Score = 0.38369
62 n_estimators = 100, max_depth = 19, max_features = 0.894361, Score = 0.38450
63 n_estimators = 100, max_depth = 22, max_features = 0.908522, Score = 0.38369
64 n_estimators = 100, max_depth = 19, max_features = 0.894022, Score = 0.38450
65 n_estimators = 100, max_depth = 22, max_features = 0.847462, Score = 0.38369
66 n_estimators = 100, max_depth = 22, max_features = 0.887219, Score = 0.38369
67 n_estimators = 100, max_depth = 20, max_features = 0.875217, Score = 0.38296
68 n_estimators = 100, max_depth = 19, max_features = 0.866423, Score = 0.38450
69 n_estimators = 100, max_depth = 23, max_features = 0.897230, Score = 0.38236
70 n_estimators = 100, max_depth = 20, max_features = 0.897059, Score = 0.38296
71 n_estimators = 100, max_depth = 21, max_features = 0.891536, Score = 0.38659
72 n_estimators = 100, max_depth = 19, max_features = 0.908614, Score = 0.38450
73 n_estimators = 100, max_depth = 24, max_features = 0.865670, Score = 0.38355
74 n_estimators = 100, max_depth = 22, max_features = 0.905290, Score = 0.38369
75 n_estimators = 100, max_depth = 24, max_features = 0.866729, Score = 0.38355
76 n_estimators = 100, max_depth = 22, max_features = 0.882732, Score = 0.38369
77 n_estimators = 100, max_depth = 20, max_features = 0.904334, Score = 0.38296
78 n_estimators = 100, max_depth = 23, max_features = 0.842027, Score = 0.38468
79 n_estimators = 100, max_depth = 24, max_features = 0.872137, Score = 0.38355
80 n_estimators = 100, max_depth = 20, max_features = 0.901369, Score = 0.38296
81 n_estimators = 100, max_depth = 23, max_features = 0.859490, Score = 0.38236
82 n_estimators = 100, max_depth = 21, max_features = 0.893310, Score = 0.38659
83 n_estimators = 100, max_depth = 24, max_features = 0.862901, Score = 0.38355
84 n_estimators = 100, max_depth = 21, max_features = 0.865268, Score = 0.38659
85 n_estimators = 100, max_depth = 20, max_features = 0.904935, Score = 0.38296
86 n_estimators = 100, max_depth = 24, max_features = 0.869999, Score = 0.38355
87 n_estimators = 100, max_depth = 19, max_features = 0.871668, Score = 0.38450
88 n_estimators = 100, max_depth = 19, max_features = 0.888587, Score = 0.38450
89 n_estimators = 100, max_depth = 22, max_features = 0.861259, Score = 0.38369
90 n_estimators = 100, max_depth = 20, max_features = 0.842381, Score = 0.38286
91 n_estimators = 100, max_depth = 19, max_features = 0.874444, Score = 0.38450
92 n_estimators = 100, max_depth = 22, max_features = 0.867823, Score = 0.38369
93 n_estimators = 100, max_depth = 19, max_features = 0.866175, Score = 0.38450
94 n_estimators = 100, max_depth = 23, max_features = 0.878576, Score = 0.38236
95 n_estimators = 100, max_depth = 22, max_features = 0.848982, Score = 0.38369
96 n_estimators = 100, max_depth = 24, max_features = 0.892440, Score = 0.38355
97 n_estimators = 100, max_depth = 19, max_features = 0.863240, Score = 0.38450
98 n_estimators = 100, max_depth = 24, max_features = 0.909027, Score = 0.38355
99 n_estimators = 100, max_depth = 21, max_features = 0.904903, Score = 0.38659
(100, 5)

    epoch  max_depth  max_features  n_estimators     score
43     43         24      0.840814           100  0.382282
25     25         23      0.885454           100  0.382361
81     81         23      0.859490           100  0.382361
2       2         23      0.847874           100  0.382361
31     31         23      0.908665           100  0.382361

### GridSearch 
- n_estimators = 100, max_depth = 20, max_features = 0.90, Score = 0.3829...
### FinerSearch
- n_estimators = 100, max_depth = 63, max_features = 0.798523, Score = 0.38470


epoch	max_depth	max_features	n_estimators	score
43	43	24	0.840814	100	0.382282
25	25	23	0.885454	100	0.382361
81	81	23	0.859490	100	0.382361

# Fit

In [ ]:
model_rf.fit(X_train, y_train)
predictions = model_rf.predict(X_test)

predictions

In [47]:
submission = pd.read_csv("data/bike/samplesubmission.csv")

print(submission.shape)
submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [48]:
submission["count"] = predictions

print(submission.shape)
submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   12.3
1  2011-01-20 01:00:00    8.0
2  2011-01-20 02:00:00    5.3
3  2011-01-20 03:00:00    3.1
4  2011-01-20 04:00:00    2.1

In [49]:
submission.to_csv("data/bike/submission_bike_20180912.csv", index = False)